.App {
  color: white;
  text-align: center;
  background-color: #330066;
  min-height: 100vh;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.welcome {
  min-height: 20vh;
  padding: 2rem;
}

#error {
  color: red;
  font-size: 1rem;
  margin: 1rem;
}

/* ---- TIMER ---- */

.counter {
  font-size: 6rem !important;
  padding: 1rem !important;
  font-weight: bold !important;

}

.small-height {
  max-height: 3rem;
  border-top: none !important;
}

.spread {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

/***** POST IT note *****/

.post-it {
  cursor: pointer;
  position: relative;
  height: 12rem;
  width: 12rem;
  background-color: #FFFF99;
  margin: 1rem;
  padding: 1rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center !important;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.yellow-bg {
  background-color: #FFFF99 !important;
}

/**** TO DO LIST ****/

.strike {
  text-decoration: line-through;
  color: black;
}

.checklist {
  position: relative;
  width: 94% !important;
  margin: 1rem !important;
  margin-top: 1px !important;
}

.indent {
  margin-left: 1.5em;
}

.top-right {
	position: absolute;
	top: 0.4rem;
	right: 0;
}

/**** GRID STRUCTURE ****/

.parent {
  height: 95vh;
  margin: 2rem;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr;
  grid-template-rows: 0.33fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem
}
/* ====TIMER==== */
.div1 {
  grid-area: 2 / 1 / 3 / 2;
}
/* ====MOODS==== */
.div2 {
  grid-area: 3 / 1 / 4 / 2;
}
/* ====HELP==== */
.div3 {
  grid-area: 4 / 1 / 5 / 2;
}
/* ====TO DOS==== */
.div4 {
  text-align: left;
  grid-area: 2 / 2 / 5 / 3;
}
/* ====NOTES==== */
.div5 {
  text-align: left;
  grid-area: 2 / 3 / 5 / 4;
}
/* ====HEADER==== */
.div6 {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: 1 / 1 / 2 / 4;
}

/* ---- To keep containers the same height ---- */

.fullsize {
  height: 100% !important;
}

/* CONTAINER FOR TODOs and Notes */

.list-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  overflow-y: auto;
}

/* LOGIN and SIGNUP */

.form-container {
  line-height: 2em;
  margin: auto;
  min-width: 225px;
  max-width: 30vw;
}

.form-container-2 {
  text-align: left;
  margin: auto;
  max-width: 40vw;
  margin-bottom: 6vh;
}

.form-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formMargin {
  margin: 1.5em;
}

.centered {
  text-align: center;
  margin-top: 2em;
}
