.react-calendar-heatmap text {
  font-size: 0.5em;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #2791d3;
}

/*
 * Original color scale
 */
/* 
.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #a70000;
}
.react-calendar-heatmap .color-github-2 {
  fill: #e50000;
}
.react-calendar-heatmap .color-github-3 {
  fill: #ff5252;
}
.react-calendar-heatmap .color-github-4 {
  fill: #ff7b7b;
}
.react-calendar-heatmap .color-github-5 {
  fill: #efc4be;
}
.react-calendar-heatmap .color-github-6 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-7 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-8 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-9 {
  fill: #1e6823;
}
.react-calendar-heatmap .color-github-10 {
  fill: #194f1c;
} */

/*
 * NEW color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #eb0000;
}
.react-calendar-heatmap .color-github-2 {
  fill: #ff5100;
}
.react-calendar-heatmap .color-github-3 {
  fill: #ff7b00;
}
.react-calendar-heatmap .color-github-4 {
  fill: #ffa600;
}
.react-calendar-heatmap .color-github-5 {
  fill: #ffef16;
}
.react-calendar-heatmap .color-github-6 {
  fill: #c1f30c;
}
.react-calendar-heatmap .color-github-7 {
  fill: #80d313;
}
.react-calendar-heatmap .color-github-8 {
  fill: #28d622;
}
.react-calendar-heatmap .color-github-9 {
  fill: #07a711;
}
.react-calendar-heatmap .color-github-10 {
  fill: #08770e;
}

/*
 * Gitlab color scale
 */
/*
.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
} */
